@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  width: 90%;
  margin: 0 auto;
}
.btn-theme {
  @apply bg-red-400 px-5 py-2 text-white  hover:bg-red-300 rounded;
}
.nav-link {
  color: white;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  &:hover {
    filter: grayscale(80%);
  }
}
.redHover {
  &:hover {
    color: #ea3636;
  }
}
.gridCustom {
  display: grid;
  grid-template-columns: 200px 980px 200px;
}
